<!doctype html>
<html>
	<head>
		<title>bubble-make</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/common.css">
		<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="/javascript/socket.io.js"></script>
		<script type="text/javascript" src="/javascript/bubble.js"></script>
		<script type="text/javascript" src="/javascript/grass.js"></script>
		<script type="text/javascript" src="/javascript/main.js"></script>
	</head>
	<body>
		<div class="mask">
			<div class="enform">
				<div>
					<input class="nickname" type="text" placeholder="please enter your nickname"></input>
					<p class="rtip none">不要和别人重名哦！</p>
				</div>
				<div>
					<button class="setname">ok</button>
				</div>
			</div>
		</div>
		<h3 class="text-center">bubble-make</h3>
		<p class="text-center">click screen and then bubble born</p>
		<div class="animbox">
			<canvas id="canvas01" class="canvas01"></canvas>
			<canvas id="canvas02" class="canvas02"></canvas>
		</div>
		<div class="chatwrap">
			<div class="countbox">
				<p class="uname none"></p>
				<p>当前共<span class="ucount">0</span>人在线</p>
			</div>
			<div class="chatbox clearfix"></div>
			<div class="sendbox">
				<textarea class="mymsg"></textarea>
				<button class="sendbtn pull-right">send</button>
			</div>
		</div>
	</body>
</html>